.list{
    display: flex;
    grid-auto-flow: column;
    overflow: hidden;
    position: absolute;
    left: 40.18vw;
    width: 20vw;
    border-radius: 3px;
    border:2px solid var(--burl-dark);
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: .7rem;
    z-index: 2;
  }

  .contain{
    margin: 0 auto;
    height: 32vh;
    overflow: hidden;
  }

.carousel-background1{
    background-color: #23ff063f;
    width: 20vw;
    height: 30vh;
    border-radius: 3px;
    position: absolute;
    top: 53.5vh;
    left: 40.5vw;
    z-index: -2;
}

.carousel-background2{
    background-color: #23ff063f;
    width: 20vw;
    height: 30vh;
    border-radius: 3px;
    position: absolute;
    top: 52.9vh;
    left: 40.8vw;
    z-index: -2;
}


.carousel img{
    align-items: center;
    justify-content: center;
    object-fit: fill;
    width: 20vw;
    transition: right 1s;
    position: relative;
    height: 30vh;
    z-index: -1;
}

.arrow-righten{
    position: absolute;
    width: 1.2vw;
    top: 68.5vh;
    background-color: rgba(240, 248, 255, 0);
    left: 58.4vw;
    z-index: 3;
}

.arrow-left{
    position: absolute;
    background-color: rgba(240, 248, 255, 0);
    width: 1.2vw;
    top: 68.5vh;
    left: 40.8vw;
    z-index: 3;
}

.svg{
    width: 1vw;
    padding: .2vw;
    border-radius: 1vw;
    position: absolute;
    left: 61vw;
    z-index: 2;
}

.carousel{
    border-radius: 3px;
    scroll-snap-align: start;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 30vh;
}

@media (min-width:280px) and (max-width: 767px) {
    .list{
        display: flex;
        grid-auto-flow: column;
        overflow: hidden;
        position: static;
        width: 60vw;
        border-radius: 3px;
        border:2px solid var(--burl-dark);
        box-sizing: border-box;
        margin: 0 auto;
        margin-top: .7rem;
        z-index: 2;
      }
    
    .contain{
        margin: 0 auto;
        height: 32vh;
        overflow: hidden;
    }
    
    .carousel-background1{
        background-color: rgba(122, 100, 71, 0.5);
        width: 60vw;
        height: 28.5vh;
        border-radius: 3px;
        transform: translate(2vw,-47.7vh);
        position: relative;
        margin: 0 auto;
        top: 45%;
        left: 0vw;
        z-index: -2;
    }
    
    .carousel-background2{
        background-color: rgb(122, 100, 71, 0.5);
        width: 60vw;
        transform: translate(1vw,-75.3vh);
        height: 28vh;
        border-radius: 3px;
        position: relative;
        margin: 0 auto;
        top: 44.3%;
        left: 0vw;
        z-index: -2;
    }
    
    
    .carousel img{
        align-items: center;
        justify-content: center;
        object-fit: fill;
        width: 60vw;
        transition: right 1s;
        position: relative;
        height: 28vh;
        z-index: -1;
    }
    
    .arrow-righten{
        position: static;
        width: 4vw;
        padding: .2rem;
        background-color: rgba(240, 248, 255, 0);
        display: block;
        border-radius: 1rem;
        background-color: var(--burl-dark);
        z-index: 3;
    }
    
    .arrow-left{
        display: block;
        background-color: var(--burl-dark);
        padding: .2rem;
        border-radius: 1rem;
        position: static;
        width: 4vw;
        z-index: 3;
    }
    
    .right-btn{
        width: 30vw;
        padding-left: 2vw;
        box-sizing: border-box;
        display: flex;
        justify-content: start;
    }

    .left-btn{
        width: 30vw;
        padding-right: 2vw;
        box-sizing: border-box;
        display: flex;
        justify-content: end;
    }

    .svg-container{
        width: auto;
        margin: 0 auto;
        padding: 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        position: relative;
        left: 0vw;
        transform: translate(0,-15vh);
        z-index: 2;
    }
    
    .carousel{
        border-radius: 3px;
        scroll-snap-align: start;
        display: grid;
        align-items: center;
        justify-content: center;
        width: 60vw;
        height: 28vh;
    }
}

@media (min-width:540px) and (max-width: 1260px) {
    
}
