.ab {
    color: var(--light);
    font-family: mySlimFont;
    width: 50px;
    border-bottom: 2px solid;
}

.p {
    margin: 0;
    width: 50vw;
    text-align: start;
    color: var(--text);
    margin-bottom: 2vh;
}

.peace {
    transform: rotate(-45deg);
    width: 100px;
}

.peace-div {
    /* background-color: aqua; */
    transform: translate(1%,-400px);
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content: end;
}

@media (max-width: 480px) {
    .p {
        width: 90vw;
    }

    .peace {
        width: 25vw;
    }
}