.ab {
    color: var(--light);
    font-family: mySlimFont;
    width: 50px;
    border-bottom: 2px solid;
}

.about-div{
    padding: 0;
    margin: 0;
    height: 230px;
}

.p {
    margin: 0;
    width: 50vw;
    text-align: start;
    color: var(--text);
    margin-bottom: 2vh;
}

.peace {
    width: 13vw;
    animation: wave 3s infinite;
}

@keyframes wave {
    0% {
        transform: rotate(-50deg);
    }

    50% {
        transform: rotate(-90deg);
    }

    100% {
        transform: rotate(-50deg);
    }
}

.peace-div {
    /* background-color: aqua; */
    transform: translate(1%, -400px);
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content: end;
}

@media (max-width: 480px) {
    .p {
        width: 90vw;
    }

    .peace {
        width: 25vw;
    }
}