.mp{
    color: var(--light);
    font-family: mySlimFont;
    text-align: start;
    width: 50px;
    border-bottom: 2px solid;
}

.bold span{
    font-family: myBoldFont;
}

.thick{
    text-align: start;
}

.thick span{
    cursor: pointer;
    font-family: myBoldFont;
}

.hidden{
    opacity: 0;
}

.show{
    opacity: 1;
}
