.mp{
    color: var(--light);
    font-family: mySlimFont;
    text-align: start;
    width: 50px;
    border-bottom: 2px solid;
}

.bold span{
    font-family: myBoldFont;
}

.thick{
    text-align: start;
}

.app-div{
    width: 100vw;
    overflow-x: hidden;
}

.thick span{
    cursor: pointer;
    font-family: myBoldFont;
}

.hidden{
    opacity: 0;
    filter: blur(1px);
    transform: translateY(100%);
    transition: all 1s ease;
}

.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0%);
}
