.intro-container{
    box-sizing: border-box;
    margin-top: 1vh;
    place-items: start;
    display: grid;
}

.intro-container img{
    width: 13vw;
}

.okay{
    margin-top: 10px;
    transform: rotate(45deg) translate(-25%,0%);
}

.intro-text span{
    animation: grad 3s infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes grad {
    0%{
    background-image:linear-gradient(-60deg, blue 10%, cyan 20%, blue 30%);
    }
    10%{
        background-image:linear-gradient(-60deg, cyan 20%, blue 30%, cyan 40%);
    }
    20%{
        background-image:linear-gradient(-60deg, blue 30%, cyan 40%, blue 50%);
    }
    30%{
        background-image:linear-gradient(-60deg, cyan 40%, blue 50%, cyan 60%);
    }
    40%{
        background-image:linear-gradient(-60deg, blue 50%, cyan 60%, blue 70%);
    }
    50%{
        background-image:linear-gradient(-60deg, cyan 60%, blue 70%, cyan 80%);
    }
    60%{
        background-image:linear-gradient(-60deg, blue 70%, cyan 80%, blue 90%);
    }
    70%{
        background-image:linear-gradient(-60deg, cyan 80%, blue 90%, cyan 100%);
    }
    80%{
        background-image:linear-gradient(-60deg, blue 90%, cyan 100%, blue 110%);
    }
    90%{
        background-image:linear-gradient(-60deg, cyan 100%, blue 110%, cyan 120%);
    }
    100%{
        background-image:linear-gradient(-60deg, blue 110%, cyan 120%, blue 130%);
    }
}

.intro-text{
    font-family: myBoldFont;
    font-size: 60px;
    width: 350px;
    text-align: start;
}

@media (max-width: 480px) {
    .intro-text{
        font-family: myBoldFont;
        width: 80vw;
        font-size: 15vw;
        text-align: start;
    }
}

