body{
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  background-color: var(--dark);
  color: var(--light);
  width: 100vw;
  overflow-x: hidden;
}

.p{
  display: none;
}

.ab{
  display: none;
}

body h3{
  margin: 0;
}

:root{
  --light:black;
  --burl: burlywood;
  --burl-dark:rgb(122, 100, 71);
  --dark:white;
  --green:#23ff06;
}

.des{
  background-color: aqua;
}


@media (min-width:280px) and (max-width: 767px) {
  body{
    width: 100vw;
    background-color: var(--burl);
    align-items: start;
  }
}
