body{
  color: white;
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--dark);
  display: flex;
  color: var(--light);
  width: 100vw;
  overflow: hidden;
}

body h3{
  margin: 0;
}

:root{
  --light:black;
  --dark:white;
  --green:#23ff06;
}

.des{
  background-color: aqua;
}


@media (min-width:280px) and (max-width: 767px) {
  body{
    width: auto;
  }
}
